*
{
margin:0;
padding:0;
box-sizing:border-box;
}
body
{
background:white;
font-family: "Lucida Console", Courier, monospace;
}


.navbar ul{
  float:top;
  width:100%;
  height:60px;
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #55917F;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding:20px 30px ;
  text-decoration: white;
  font-weight:500;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #fff;
  color:#d1d646;
  /*text-shadow:0px 5px 3px blue;
  font-weight:1000;
  font-size:25px;*/
}

.welcome{
  height:700px;
  display:block;
  
}
/* profile image*/
.welcome .profile-img {
  float:left;
  margin-left:50px;
  margin-top:90px;
  margin-bottom:60px;

}
.welcome .profile-img img{
  width:500px;
  height:500px;
}
.welcome .hello{
  float:left;
  padding-left:100px;
  padding-top:200px;
}
.hello h1{
  color:black;
  
  font-family: "Lucida Console", Courier, monospace;
  font-weight:1000;
  font-size:2vw;
}
.hello strong{
  text-shadow:-25px 0px 4px powderblue;
  font-size:4vw;
}


/*about   */
.about{
  display:flex;
  height :100%;
  
}
.about .about-img img{
  margin-left:70px;
  margin-top:80px;
  height:500px;
  width:500px;
}
.about .about-info{
  margin-left:60px;
  margin-top:80px;
  margin-bottom:90px;
  padding:60px;
}
.about-info h1{
  background-color:;
  text-align:center;
  font-size:2000;
  margin-bottom:30px;
}
.about p{
  text-indent:60px;
  line-height:25px;
  margin-top:15px;
  margin-bottom:40px;
  background-color:;
  font-family: "Lucida Console", Courier, monospace;
}

.about-info a{
  text-decoration:none;
  color:black;
  margin-left:100px;
  font-weight:100;
  height:40px;
  padding:10px;
  border-radius:5px;
  border: 2px solid  #33cc00;
}
.about-info a:hover{
  color:white;
  background-color:#33cc00;
}




/* education cards*/
.edu{
  padding:100px 100px;
  height:700px;

}

.edu h2{
  text-align:center;
  background-color:;
  color:#5e4c5a;
  font-size:30px;
}
.edu .edu-card{
  display:inline-block;
  width:30%;
  height:50%;
  margin-top:40px;
  margin-left:30px;
  background-color:#f2f2f2;
  box-shadow:0px 10px 20px  #6BAB90;
  border-radius:4px;
  color:#666666;
}
.edu-card:hover{
  background-color:;
  border:3px solid #6BAB90;
  color:black;
  box-shadow:0px 20px 20px 10px #6BAB90;
}
.edu-card h3{
  text-align:center;
  margin:20px 0px;
}
.edu-card ul{
  line-height:20px;
  list-style-type:none;
  padding-left:30px;
  color:#55917f;
}
.edu-card:hover small{
  color:#666666;
}


/* for all quotes */
.quote{
  text-align:center;
  color:#333333;
  margin-top:40px;
  margin-bottom:20px;
}


/* skillz  bars  */
/* Make sure that padding behaves as expected */
.skillz{
box-sizing:border-box;

height:700px;
padding:100px 100px;
}
.skillz h2{
  text-align:center;
  margin-bottom:30px;
  font-size:30px;
}
.skillz p{
  margin-top:30px;
  margin-bottom:10px;
}
/* Container for skill bars */
.container {
  border:2px solid black;
  border-radius:10px;
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */


/* certificates    */

.certifi{
  padding:100px 100px;
}
.certifi h2{
  text-align:center;
  font-size:30px;
}
.expertise {
  width:100%;
  height:50%;
  display:block;
  margin:20px 10px;
}
.expertise img{
  float:left;
  width:200px;
  height:200px;
  border-radius:100px;
}
.expertise .expert-info{
  font-size:20px;
  color:#666666;
  margin-top:100px;
  margin-left:50px;
  
}
.expertise img:hover {
  border:2px solid #33cc00;
}
.expertise img:hover ~ .expert-info b{
  color:#33cc00;
}

/* projects  */
.projects{
  padding:100px 100px;
  display:block;
  background-color:;
  height:700px;
}
.projects h2{
  width:100%;
  text-align:center;
  margin-bottom:30px;
  font-size:30px;
}
.project{
  border-radius: 30px;
  border:3px #ffe2d1;
  border-style:dotted solid double dashed;
  position:relative;
  float:left;
  width:30%;
  height:250px;
  margin:1.5%;
  background-color:;
  margin-top:10px;
}
.project .project-img img{
  width:100%;
  height:250px;
  border-radius: 30px;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.project-info {
  margin-top: 10px;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: ;
  overflow:hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .4s ease;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.project:hover .project-info{
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.project-info p{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* social-media 8*/

.social-media{
  display:block;
  width:100%;
  text-align:center;
  background-color:#ddd;
  padding:100px 100px;
}
.social-media h1{
  margin:30px;
  font-family:Sofia;
  font-size:40px;
}
.social-media h2{
  margin:10px;
  font-size:30px;
}
.social-media img{
  filter: grayscale(40%);
  filter:blur(3px) grayscale(40%);
  margin:30px;
  width:4%;
  height:30px;
  border-radius:40px;
}
.social-media img:hover{
  filter:grayscale(0%);
}
.contact img{
  margin :10px 0;
}
